/* === Estilos Gerais === */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
    color: #fff;
    background-color: #2B2D31;
    font-family: "Inter";
    font-size: 12px;
    border: 1px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* === Menu === */
.logo{
    margin-top: 5%;
    margin-left: 4%;
} 
.text{
    text-align: center;
    font-size: 16px; 
}

/* === Estrutura da página === */
.title{
    margin-top: 5%;
    /* align-self: flex-start;
    border-radius: 4px;
    width: 50%;
    text-align: left; */
}
.alert01{
    color: #989898;
    font-size: 18px; 
    font-weight: bolder;
}
.alert02{
    color: #989898;
    font-size: 10px;
    font-weight: bolder;
}
.space{
    margin-top: 2%;
}
.button{
    width: 80%;
    border-radius: 3px;
}
.button:hover {
    background-color: rgba(255, 255, 255, 0.178); /* Cor do fundo ao passar o mouse */
}
hr{
    border: 1px solid #989898;
}
h1{
    font-size: 18px;
}





