/* === Estilos Gerais === */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
    color: #fff;
    background-color: #2B2D31;
    font-family: "Inter";
    font-size: 12px;
    border: 1px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.none{
    display: none;
}

/* === Menu === */
.logo{
    margin-top: 5%;
    margin-left: 4%;
} 
.text{
    text-align: center;
    font-size: 16px; 
    margin-top: 0px;
}

/* === Estrutura da página === */
.task-crud{
   width: 50%;
   margin-top: 5%;
}
.alert01{
    color: #989898;
    font-size: 18px; 
    font-weight: bolder;
}
.alert02{
    color: #989898;
    font-size: 10px;
    font-weight: bolder;
}
.space{
    margin-top: 6%;
}
.button-task{
    border: 2px dashed #989898;
    color: #989898;
    padding: 10px 16px 10px 16px;
    border-radius: 8px;
    width: 100%;
}
.button-task:hover {
    border: 2px dashed #FFFFFF;
    color: #fff;
}
hr{
    border: 1px solid #989898;
}
h1{
    font-size: 18px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 8px;
    text-align: center;
}




