<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--=== Links de Estilos ===-->
    <link rel="stylesheet" href="../css/styles.css">
    
    <title>To-do List</title>
</head>
<body>

    <!--=== Logo ===-->
    <header class="container">
        <figure>
            <img class="logo" src="../assets/img/Logo.svg" alt="Logo do Projeto">
            <figcaption class="text">Sistema de Geração de Tarefas.</figcaption>
        </figure>
    </header>
    <div class="title">
        <h1>Tarefas</h1>
        <hr>
    </div>
    <!--=== Estrutura da página ===-->
    <main class="container">

        

        <!-- Paragrafo para quando não tiver Tarefas -->
        <div>
            <p class="text">
                Você ainda não criou nenhuma <span class="alert01">Tarefa</span>!<br>
                <span class="alert02">Não se preocupe, suas novas tarefas irão aparece aqui.</span>
            </p>
        </div>

        <div>
            <button class="button"><img class="teste" src="../assets/img/botão.svg" alt=""></button>
        </div>
    </main>

    <!--=== Rodapé da página ===-->
    <footer class="container">
        <p>&copy; 2024 Meu Site. Todos os direitos reservados.</p>
    </footer>
    
</body>

<!--=== Link para o script/js ===-->
<script src="../js/app.js"></script>
</html>