<!DOCTYPE html>  
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar com Formulário</title>
    <link rel="stylesheet" href="../css/teste.css"> 
</head>
<body>
    <div class="sidebar">
        <span class="alert03">Salvar</span>
        <p>Formulário</p>
        <form>
            <label for="name">Nome:</label>
            <input type="text" id="name" required>

            <label for="descricao">Descrição (Opcional):</label>
            <textarea id="descricao" name="descricao" required></textarea>

            <button type="submit">Fecha</button>
            <button type="submit">Salvar Mudanças</button>
        </form>
    </div>
</body>
</html>
